<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="common/head"/>
</head>
<body>
<div class="x-body">
    <form class="layui-form layui-form-pane" data-id="reload" action="/sysMenu/doAdd">
        <input type="hidden" name="parentId" th:value="${parentId}">
        <input th:if="${parentId != null}" type="hidden" name="type" th:value="1">
        <div th:if="${parentId != null}" class="layui-form-item">
            <label class="layui-form-label">主菜单</label>
            <div class="layui-input-inline"  style="width: 300px">
                <input type="text"  th:value="${parentName}" disabled readonly autocomplete="off" class="layui-input">
            </div>
        </div>
        <div  th:if="${parentId == null}" class="layui-form-item">
            <label class="layui-form-label">图标</label>
            <div class="layui-input-inline" style="width: 300px">
                <input type="text" name="img" placeholder="图标code" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">详见<a href="http://www.layui.com/doc/element/icon.html" target="_blank"><font color="blue">layui图标库</font></a></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单名称</label>
            <div class="layui-input-inline" style="width: 300px">
                <input type="text" name="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div th:if="${parentId != null}" class="layui-form-item">
            <label class="layui-form-label">URL请求</label>
            <div class="layui-input-inline" style="width: 300px">
                <input type="text"  name="url" placeholder="请输入"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div th:if="${parentId != null}" class="layui-form-item">
            <label class="layui-form-label">授权</label>
            <div class="layui-input-inline"  style="width: 300px">
                <input type="text" name="perms" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-inline"  style="width: 300px">
                <input type="text" name="orderNum" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" onkeyup="this.value=this.value.replace(/\D/g,'')">
            </div>
            <div class="layui-form-mid layui-word-aux">数字越大权值越大</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" style="margin-left:85px;" lay-submit lay-filter="submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<div th:replace="common/js"></div>
<div th:replace="common/setting"></div>
<script type="text/javascript">
    layui.use('xform');
</script>
</body>
</html>
