<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="common/head"/>
</head>
<body>
<div class="x-body">

    <xblock>
        <button class="layui-btn layui-btn-normal dialog"  data-title="添加"  th:attr="data-url=|/orderGoods/toAdd?orderId=+${orderId}|" >
            <i class="layui-icon">&#xe608;</i>添加
        </button>
    </xblock>

    <input type="hidden" id="initUrl" value="/orderGoods">
    <input type="hidden" id="initParam" th:value="${orderId}">

    <table class="layui-table" th:attr="lay-data=|{height:'700', url:'/orderGoods/list?orderId='+${orderId}}|" lay-filter="table">
        <thead>
        <tr>
            <th lay-data="{field:'goodsId',align:'center', sort: true,templet:'#goodsList'}">商品名</th>
            <th lay-data="{field:'goodsCount',align:'center', sort: true}">商品数量</th>
            <th lay-data="{field:'goodsSaleMoney',align:'center', sort: true}">实际出售单价</th>
            <th lay-data="{fixed:'right', align:'center',toolbar: '#row-bar'}">操作</th>
        </tr>
        </thead>
    </table>


    <script type="text/html" id="goodsList" th:inline="javascript">
        {{#  var list = [[${goodsList}]] }}
        {{#  for(var index in list){ }}
        {{#     if(d.goodsId == list[index].goodsId){ }}
        {{         unescape(list[index].goodsName.replace(/\\u/g, '%u')) }}
        {{#     } }}
        {{#  } }}
    </script>

    <script type="text/html" id="row-bar">
        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit" data-url="/orderGoods/toEdit" data-title="编辑"
         data-id="orderGoodsId" data-width="800" data-height="600"><i class="layui-icon">&#xe642;</i> 编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" data-url="/orderGoods/delete" data-id="orderGoodsId" ><i
                class="layui-icon">&#xe640;</i> 删除</a>
    </script>
</div>
<div th:replace="common/js"></div>
<div th:replace="common/setting"></div>
<script type="text/javascript">
    layui.use('xlaytable');
</script>
</body>
</html>
